.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  background-color: #ebebee;
}
body {
  font-family: Source Serif 4;
}
.display-1 {
  font-family: 'Source Serif 4', sans-serif;
  font-size: 5rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.25rem;
}
.display-2 {
  font-family: 'Source Serif 4', sans-serif;
  font-size: 4rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 5rem;
}
.display-4 {
  font-family: 'Source Serif 4', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.5rem;
}
.display-5 {
  font-family: 'Source Serif 4', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 3.125rem;
}
.display-7 {
  font-family: 'Source Serif 4', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 1.75rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #90adc6 !important;
}
.bg-success {
  background-color: #46dd97 !important;
}
.bg-info {
  background-color: #2fd3f4 !important;
}
.bg-warning {
  background-color: #ffc824 !important;
}
.bg-danger {
  background-color: #df4453 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #90adc6 !important;
  border-color: #90adc6 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #b2c6d7 !important;
  border-color: #b2c6d7 !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #b2c6d7 !important;
  border-color: #b2c6d7 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #f5d15d !important;
  border-color: #f5d15d !important;
  color: #4e3d05 !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #f8df8d !important;
  border-color: #f8df8d !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #4e3d05 !important;
  background-color: #f8df8d !important;
  border-color: #f8df8d !important;
}
.btn-info,
.btn-info:active {
  background-color: #2fd3f4 !important;
  border-color: #2fd3f4 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #5fddf7 !important;
  border-color: #5fddf7 !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #5fddf7 !important;
  border-color: #5fddf7 !important;
}
.btn-success,
.btn-success:active {
  background-color: #46dd97 !important;
  border-color: #46dd97 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #71e5af !important;
  border-color: #71e5af !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #71e5af !important;
  border-color: #71e5af !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffc824 !important;
  border-color: #ffc824 !important;
  color: #241b00 !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #ffd557 !important;
  border-color: #ffd557 !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #241b00 !important;
  background-color: #ffd557 !important;
  border-color: #ffd557 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #df4453 !important;
  border-color: #df4453 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #e6707b !important;
  border-color: #e6707b !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #e6707b !important;
  border-color: #e6707b !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #90adc6;
  color: #90adc6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #5783a9 !important;
  background-color: transparent !important;
  border-color: #5783a9 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #90adc6 !important;
  border-color: #90adc6 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #f5d15d;
  color: #f5d15d;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #edb80f !important;
  background-color: transparent !important;
  border-color: #edb80f !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #4e3d05 !important;
  background-color: #f5d15d !important;
  border-color: #f5d15d !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #2fd3f4;
  color: #2fd3f4;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #0aa3c2 !important;
  background-color: transparent !important;
  border-color: #0aa3c2 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #2fd3f4 !important;
  border-color: #2fd3f4 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #46dd97;
  color: #46dd97;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #20ad6b !important;
  background-color: transparent !important;
  border-color: #20ad6b !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #46dd97 !important;
  border-color: #46dd97 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffc824;
  color: #ffc824;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #cc9900 !important;
  background-color: transparent !important;
  border-color: #cc9900 !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #241b00 !important;
  background-color: #ffc824 !important;
  border-color: #ffc824 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #df4453;
  color: #df4453;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ae1e2c !important;
  background-color: transparent !important;
  border-color: #ae1e2c !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #df4453 !important;
  border-color: #df4453 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #90adc6 !important;
}
.text-secondary {
  color: #f5d15d !important;
}
.text-success {
  color: #46dd97 !important;
}
.text-info {
  color: #2fd3f4 !important;
}
.text-warning {
  color: #ffc824 !important;
}
.text-danger {
  color: #df4453 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #517b9f !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #dead0e !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #1da063 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #0997b4 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #bd8e00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #a11c29 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #90adc6;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #2fd3f4;
}
.alert-warning {
  background-color: #ffc824;
}
.alert-danger {
  background-color: #df4453;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #90adc6;
  border-color: #90adc6;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #90adc6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e4ebf1;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #f2fdf8;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #f1fcfe;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fffbf0;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #fdf2f3;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Source Serif 4', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
  border-radius: 40px !important;
}
.form-control > .mbr-iconfont {
  font-size: 1.75rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #90adc6 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Source Serif 4', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.75rem;
}
blockquote {
  border-color: #90adc6;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #90adc6;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #90adc6;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #90adc6;
  border-bottom-color: #90adc6;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #90adc6 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #f5d15d !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2390adc6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
@media (max-width: 1400px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.cid-uIbWhGUh9S {
  display: flex;
}
@media (min-width: 768px) {
  .cid-uIbWhGUh9S {
    align-items: flex-end;
  }
  .cid-uIbWhGUh9S .row {
    justify-content: flex-start;
  }
  .cid-uIbWhGUh9S .content-wrap {
    padding: 1rem 3rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-uIbWhGUh9S .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-uIbWhGUh9S {
    -webkit-align-items: center;
    align-items: flex-end;
  }
  .cid-uIbWhGUh9S .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-uIbWhGUh9S .content-wrap {
    width: 100%;
  }
}
.cid-uIbWhGUh9S .mbr-fallback-image.disabled {
  display: none;
}
.cid-uIbWhGUh9S .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url("../../../assets/images/mbr-1920x1280.jpg");
}
.cid-uIbWhGUh9S .mbr-section-title,
.cid-uIbWhGUh9S .mbr-section-subtitle {
  text-align: center;
  color: #ffc091;
}
.cid-uIbWhGUh9S .mbr-text,
.cid-uIbWhGUh9S .mbr-section-btn {
  text-align: center;
  color: #a6a99c;
}
.cid-uIbWhGUh9S .mbr-section-title {
  color: #ffffff;
}
.cid-uIbWhGUh9S .mbr-section-subtitle {
  color: #333652;
}
.cid-uIbZhqg1LY {
  background-color: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-uIbZhqg1LY img {
  object-fit: contain;
  border-radius: 0 !important;
}
.cid-uIc0ZD1LP6 {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #000000;
}
.cid-uIc0ZD1LP6 img,
.cid-uIc0ZD1LP6 .item-img {
  width: 100%;
  height: 100%;
  height: 300px;
  object-fit: cover;
}
.cid-uIc0ZD1LP6 .item:focus,
.cid-uIc0ZD1LP6 span:focus {
  outline: none;
}
.cid-uIc0ZD1LP6 .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-uIc0ZD1LP6 .item {
    margin-bottom: 1rem;
  }
}
.cid-uIc0ZD1LP6 .item-content {
  margin-top: 2rem;
  padding: 0 2.25rem 2.25rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-uIc0ZD1LP6 .item-content {
    padding: 0 1.5rem 1.5rem;
    padding-top: 1rem;
    margin-top: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-uIc0ZD1LP6 .item-content {
    padding: 2rem 1.5rem;
    padding-top: 1rem;
    margin-top: 1rem;
  }
}
.cid-uIc0ZD1LP6 .item-wrapper {
  position: relative;
  background: #000000;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-uIc0ZD1LP6 .item-wrapper .item-footer {
  margin-top: auto;
}
.cid-uIc0ZD1LP6 .mbr-section-title {
  color: #ffffff;
}
.cid-uIc0ZD1LP6 .item-title {
  text-align: left;
  color: #ffffff;
}
.cid-uIc0ZD1LP6 .item-subtitle {
  text-align: left;
}
.cid-uIc0ZD1LP6 .mbr-text,
.cid-uIc0ZD1LP6 .item .mbr-section-btn {
  text-align: left;
  color: #a6a99c;
}
.cid-uIc0ZD1LP6 .content-head {
  max-width: 800px;
}
.cid-uIc0ZD1LP6 .mbr-section-subtitle,
.cid-uIc0ZD1LP6 .mbr-section-head .mbr-section-btn {
  color: #a6a99c;
}
.cid-uIbWhGVqY2 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000000;
}
.cid-uIbWhGVqY2 .mbr-text {
  color: #a6a99c;
}
.cid-uIbWhGVqY2 .mbr-section-subtitle {
  color: #ffffff;
  text-align: center;
}
.cid-uIcc8yWFck {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #000000;
}
.cid-uIcc8yWFck .content-head {
  max-width: 800px;
}
.cid-uIcc8yWFck .mbr-section-title {
  color: #ffffff;
}
.cid-uIcc8yWFck .mbr-text,
.cid-uIcc8yWFck .mbr-section-btn {
  color: #a6a99c;
}
.cid-uIceWhjn2l {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #000000;
}
.cid-uIceWhjn2l .mbr-fallback-image.disabled {
  display: none;
}
.cid-uIceWhjn2l .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uIceWhjn2l .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uIceWhjn2l .row {
  flex-direction: row-reverse;
}
.cid-uIceWhjn2l .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-uIceWhjn2l .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-uIceWhjn2l .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-uIceWhjn2l .mbr-section-title {
  color: #ffffff;
}
.cid-uIceWhjn2l .mbr-text,
.cid-uIceWhjn2l .mbr-section-btn {
  color: #a6a99c;
}
.cid-uIcgx4hntL {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #000000;
}
.cid-uIcgx4hntL .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-uIcgx4hntL .item {
    margin-bottom: 1rem;
  }
}
.cid-uIcgx4hntL .item-wrapper {
  position: relative;
}
.cid-uIcgx4hntL .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  border-radius: 50%;
  opacity: 0;
  color: #464845 !important;
  transform: translateX(-50%) translateY(-50%);
  background-color: #edefea !important;
  transition: 0.2s;
}
.cid-uIcgx4hntL .item-wrapper:hover .icon-wrapper {
  opacity: 1;
}
.cid-uIcgx4hntL .carousel-control,
.cid-uIcgx4hntL .close {
  background: #1b1b1b;
}
.cid-uIcgx4hntL .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-uIcgx4hntL .carousel-control-prev span {
  margin-right: 5px;
}
.cid-uIcgx4hntL .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-uIcgx4hntL .carousel-control-next span {
  margin-left: 5px;
}
.cid-uIcgx4hntL .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-uIcgx4hntL .close::before {
  content: '\e91a';
}
.cid-uIcgx4hntL .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-uIcgx4hntL .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-uIcgx4hntL .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-uIcgx4hntL .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-uIcgx4hntL .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-uIcgx4hntL .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-uIcgx4hntL .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-uIcgx4hntL .carousel-indicators li.active,
.cid-uIcgx4hntL .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-uIcgx4hntL .carousel-indicators li::after,
.cid-uIcgx4hntL .carousel-indicators li::before {
  content: none;
}
.cid-uIcgx4hntL .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-uIcgx4hntL .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-uIcgx4hntL .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-uIcgx4hntL .carousel-indicators {
    display: none;
  }
}
.cid-uIcgx4hntL .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-uIcgx4hntL .carousel-inner > .active {
  display: block;
}
.cid-uIcgx4hntL .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-uIcgx4hntL .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-uIcgx4hntL .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-uIcgx4hntL .carousel-control,
  .cid-uIcgx4hntL .carousel-indicators,
  .cid-uIcgx4hntL .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-uIcgx4hntL .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-uIcgx4hntL .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-uIcgx4hntL .carousel-indicators .active,
.cid-uIcgx4hntL .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-uIcgx4hntL .carousel-indicators .active {
  background: #fff;
}
.cid-uIcgx4hntL .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-uIcgx4hntL .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-uIcgx4hntL .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-uIcgx4hntL .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-uIcgx4hntL .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-uIcgx4hntL .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-uIcgx4hntL .carousel {
  width: 100%;
}
.cid-uIcgx4hntL .modal-backdrop.in {
  opacity: 0.8;
}
.cid-uIcgx4hntL .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-uIcgx4hntL .modal.fade .modal-dialog,
.cid-uIcgx4hntL .modal.in .modal-dialog {
  transform: none;
}
.cid-uIcgx4hntL .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-uIcgx4hntL .content-head {
  max-width: 800px;
}
.cid-uIcgx4hntL H3 {
  color: #ffffff;
}
.cid-uIcgx4hntL H4 {
  color: #a6a99c;
}
.cid-uIbYXHmZL7 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #000000;
}
.cid-uIbYXHmZL7 .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-uIbYXHmZL7 form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-uIbYXHmZL7 form .mbr-section-btn .btn {
  display: inline-flex;
}
@media (max-width: 991px) {
  .cid-uIbYXHmZL7 form .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-uIbYXHmZL7 .content-head {
  max-width: 800px;
}
.cid-uIbYXHmZL7 .mbr-section-title {
  color: #ffffff;
}
.cid-uIbYXHmZL7 .mbr-section-subtitle {
  color: #a6a99c;
}
